h1{
    font-weight: 50px;
    color: yellowgreen;
    text-shadow: 2px 2px grey; 
}

form{
    accent-color: pink;
    display: inline-block;
    
}

.img1{
    height: 150px;
    width: 150px;
    padding:20px;
}
body>img{
    height:20px;
    width:20px;
    display: inline-block;
}


body{
    background-color:aquamarine;
    display: inline-block;
    
}
.flag{
    background-color: red;
    height:100px;
    width:200px;
    border: 5px solid white;
    display:inline-block;
    clear:left;
    float:right;
    border-radius: 15%;
    position: relative;
    top:270px;
    left:350px;
}
.flag>div{
    background-color: blue;
    height:40px;
    width:200px;
    position: absolute;
    top:30px;
    
}

.flag>div>div{
    border-radius: 70%;
    background-color: white;
    position: relative;
    top:0.1px;
    left:80px;
    width:50%;
    height:30px;
    width:30px;

}

div> p{

    font-size: 7px;
    text-align: center;
    position: relative;
    top:4px;
    left:0.1px;

}

a{
    border-style: none;
    background-color: pink;   
}

.form{
    background-color: yellowgreen;
    background-size: cover;
    border: none;
    text-align: center;;
}

ul{
    color:blueviolet;
    padding:20px;
    margin: 10px;
    
}

@media(min-width:600px) and (max-width:700px){
    body{
        background-color: red;
    }
}

@media (min-width:300px) and (max-width:599px){
    body{
        background-color: blue;
    }
}